extends layout

block content
  h1= title
  p Welcome to #{title}

  form.form-inline(method='POST' action='/register')
                                tr                                    
                                   td
                                      div.btn-group.btn-lg
                                          button.btn.btn-primary.btn-lg(type='submit') Register New User

  form.form-inline(method='POST' action='/login')
                                tr                                    
                                   td
                                      div.btn-group.btn-lg
                                          button.btn.btn-primary.btn-lg(type='submit') Login

  form.form-inline(method='GET' action='/users')
                                tr                                    
                                   td
                                      div.btn-group.btn-lg
                                          button.btn.btn-primary.btn-lg(type='submit') Users

  form.form-inline(method='GET' action='/workouts')
                                tr                                    
                                   td
                                      div.btn-group.btn-lg
                                          button.btn.btn-primary.btn-lg(type='submit') Workouts

  form.form-inline(method='GET' action='/exercises')
                                tr                                    
                                   td
                                      div.btn-group.btn-lg
                                          button.btn.btn-primary.btn-lg(type='submit') Exercises

  form.form-inline(method='GET' action='/activities')
                                tr                                    
                                   td
                                      div.btn-group.btn-lg
                                          button.btn.btn-primary.btn-lg(type='submit') Activities