extends layout

block content
  h1= title
  p Welcome to #{title}

   form.form-inline(method='POST' action='register')
                                tr                                    
                                   td
                                      div.btn-group.btn-lg
                                          button.btn.btn-primary.btn-lg(type='submit') Create New User