extends layout

block content
  h1= title
  p Welcome to #{title}

    form(method='POST' action='/')
      div.form-group
        label(for='name') Name:
        input#name.form-control(type='text', placeholder='first and last' name='name')
      div.form-group
        label(for="email") Email:
        input#name.form-control(type='email', placeholder='name@email.com' name='email')

    form.form-inline(method='POST' action='createUser')
                                tr                                    
                                   td
                                      div.btn-group.btn-lg
                                          button.btn.btn-primary.btn-lg(type='submit') Create New User